*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-button{
    position: fixed;
    top:20px;
    left: 20px;
}

.wrapper{
    perspective: 1000px;
    transform-style: preserve-3d;

    height: 300px;
    width: 300px;
    cursor: grab;
}
.container{
    position: relative;
    transform-style: preserve-3d;
    height: 200px;
    width: 200px;
    transform: rotateX(10deg) rotateY(20deg); 
}
.cube{
    position: absolute;
    transform-style: preserve-3d;
    height: 100px;
    width: 100px;  
}


